<%= form_for [@project, @ticket] do |f| %>
 
<% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ticket.errors.count, "error") %> prohibited
        this ticket from being saved:
      </h2>
      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :priority %><br>
    <%= f.select :priority, [["",""], ["Low", "Low"], ["High", "High"]] %>
  </p>
  <p>
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, [["",""], ["Easy", "Easy"], ["Medium", "Medium"], ["Hard", "Hard"]] %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, [["",""], ["Open", "Open"], ["Closed", "Closed"], ["Canceled", "Canceled"]] %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>