<h2><font colot="black">Ticket</font></h2>
<% @project.tickets.each do |ticket| %>
  <p>
    <strong><font color="black">Title:</font></strong>
    <font color="black"><%= ticket.title %></font>
  </p>
 
  <p>
    <strong><font color="black">Description:</font></strong>
    <font color="black"><%= ticket.description %></font>
  </p>
  <p>
    <strong><font color="black">Priority:</font></strong>
    <font color="black"><%= ticket.priority %></font>
  </p>
  <p>
    <strong><font color="black">Difficulty:</font></strong>
    <font color="black"><%= ticket.difficulty %></font>
  </p>
  <p>
    <strong><font color="black">Status:</font></strong>
    <font color="black"><%= ticket.status %></font>
  </p>
<%= link_to 'Edit', edit_project_ticket_path(@project, ticket) ,style: 'color:#000'%> |
<% end %>
<%= link_to 'Back', project_tickets_path(@project) ,style: 'color:#000'%>