<h2>Ticket</h2>
<% @project.tickets.each do |ticket| %>
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>
  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>
  <p>
    <strong>Difficulty:</strong>
    <%= ticket.difficulty %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>
<%= link_to 'Edit', edit_project_ticket_path(@project, ticket) %> |
<% end %>
<%= link_to 'Back', project_tickets_path(@project) %>