<p>
  <strong><font color="black">Title:</font></strong>
  <%= @project.title %>
</p>
 
<p>
  <strong><font color="black">Description:</font></strong>
  <%= @project.description %>
</p>
<%= link_to 'Tickets', project_tickets_path(@project) ,style: 'color:#000'%> |
<%= link_to 'Edit', edit_project_path(@project) ,style: 'color:#000'%> |
<%= link_to 'Back', projects_path ,style: 'color:#000'%>